* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "arial", heletica, sans-serif;
  font-size: 12px;
  background: #17283c url("../assets/bg2.jpg") no-repeat !important;
  background-size: cover;
  height: 100vh;
}
p {
  opacity: 0.9;
}
.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.spacer {
  height: 200px;
}
.opacity-shortstory {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 70%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.opacity-forecast {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.opacity-01 {
  background: rgba(255, 255, 255, 0.1);
}
.opacity-02 {
  background: rgba(23, 40, 60, 0.2);
}
.temperature-now {
  font-size: 5rem;
  vertical-align: middle;
}
.°C {
  width: 300px;
}
.text-minor {
  font-size: calc(3px + 2vmin);
}
.title-minor {
  font-size: calc(13px + 2vmin);
}
.text-icons {
  background: black;
  color: #ec6e4c;
}
